# Artificial Neural Networks [NN1] using numpy

1. Linear Function: 

Formula: !["linear"](imgs/linear.png)

Often used in regression problems where the network needs to predict a continuous value.

!["activation_function_linear"](imgs/activation_function_linear.png)

2. Exponential Linear Unit (ELU):

Formula: !["elu"](imgs/elu.png)
 
Smooth for negative inputs, aims to capture information from all regions of the input space.

!["activation_function_elu"](imgs/activation_function_elu.png)

3. Sigmoid Function:

Formula: !["Sigmoid"](imgs/Sigmoid.png)
 
Output range: (0, 1)

â€‹Often used in the output layer of binary classification problems.



+ Why use sigmoid function? 

In `step function` are `0.1 >round> 1` and `0.9 >round> 1`

it's problem for training neural network, so we use sigmoid function..

!["activation_function_sigmoid"](imgs/activation_function_sigmoid.png)

4. Hyperbolic Tangent Function (tanh):

Formula: !["tanh"](imgs/tanh.png)
or f(x) = tanh(x)

Output range: (-1, 1)

Similar to the sigmoid but with an output range from -1 to 1..

!["activation_function_tanh"](imgs/activation_function_tanh.png)

5. Softmax Function:

Formula: !["Softmax"](imgs/Softmax.png)

Used in the output layer for `multi-class classification` problems.

Converts raw scores into probabilities, ensuring they sum to 1.

!["activation_function_softmax"](imgs/activation_function_softmax.png)

Example: !["activation_function_softmax_2"](imgs/activation_function_softmax_2.png)

# Example: 

Build neural network from skratch

In [165]:
import pandas as pd

In [166]:
df = pd.read_csv(r'datasets/HousingData.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [167]:
df.isna().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [168]:
df.dropna(inplace=True)

In [169]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [170]:
x = df.drop(['MEDV'], axis= 1 )
y = df['MEDV']

In [171]:
scaler = StandardScaler()
cols = x.columns # to save name of cols
x = scaler.fit_transform(x) 
x = pd.DataFrame(x, columns=cols)

In [172]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
x_train.shape

(315, 13)

In [173]:
y_train.shape

(315,)

In [174]:
x_test.shape

(79, 13)

In [175]:
y_test.shape

(79,)

data with cols

In [176]:
x_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
352,0.115577,-0.479051,1.028921,-0.271237,1.414412,0.351435,0.630707,-0.653401,1.692835,1.544144,0.768327,-3.449268,0.734454
287,0.000741,-0.479051,1.028921,-0.271237,1.458672,-1.889281,0.806629,-0.979513,1.692835,1.544144,0.768327,-0.476180,0.168634
18,-0.267407,-0.479051,-0.414642,-0.271237,-0.134687,-0.197985,0.817399,0.081889,-0.626681,-0.591507,1.138063,0.430740,0.815285
263,-0.398197,-0.479051,-0.842204,-0.271237,-0.338283,-0.552311,-0.335068,0.863460,-0.510706,-1.085264,0.768327,0.407302,-0.302653
215,-0.391056,1.192933,-0.665382,-0.271237,-0.940219,0.823391,-0.938228,0.220445,-0.626681,-0.906798,-0.433313,0.430740,-1.341130

Build neural network using numpy

In [177]:
import numpy as np

In [178]:
class Neural_Network:
    def __init__(self, input_neurons, hidden_neurons, output_neurons, learning_rate):
        # matrix with shape (hidden_neurons, input_neurons) for weights
        self.weights_input_hidden = np.random.uniform(-0.5, 0.5, (hidden_neurons, input_neurons))
        # matrix with shape (hidden_neurons, input_neurons) for weights
        self.weights_hidden_output = np.random.uniform(-0.5, 0.5, (output_neurons, hidden_neurons))
        # learning rate
        self.lr = learning_rate
        
    def activation(self, x):
        return 1/ (1+np.exp(-x))
    
    def forward(self, inputs):
        self.inputs = np.array(inputs, ndmin=2).T # Transpose the input to (13, 1)
    
        hidden_inputs = np.dot(self.weights_input_hidden, self.inputs)
        self.hidden_outputs = self.activation(hidden_inputs)
    
        final_inputs = np.dot(self.weights_hidden_output, self.hidden_outputs)
        final_output = final_inputs
        return final_output
    
    def backward(self, target, prediction):
        output_error = target - prediction
        hidden_grad = np.dot(self.weights_hidden_output.T, output_error) * (self.hidden_outputs * (1 - self.hidden_outputs))
        
        self.weights_hidden_output += (self.lr) * output_error, self.hidden_outputs.T
        self.weights_input_hidden += (self.lr) * hidden_grad, self.inputs.T

    
    def MSE(self, target, prediction):
        return np.sum(target - prediction **2) / len(target)

In [179]:
input_neurons = x_train.shape[1]
hidden_neurons = 32
output_neurons = 1
learning_rate = 0.1
epochs = 50

In [180]:
model = Neural_Network(input_neurons, hidden_neurons, output_neurons, learning_rate)
model

In [ ]:
for epoch in range(epochs):
    batch = np.random.choice(x_train.index, size= 8)
    for record, target in zip(x_train.loc[batch], 
                              y_train.loc[batch].values):
        preds = model.forward(record)
        model.backward(target, preds)
    
    train_loss = model.MSE(y_train, model.forward(x_train))
    valid_loss = model.MSE(y_test, model.forward(x_test))