# Artificial Neural Networks [NN1] using keras in tensorflow

1. Linear Function: 

Formula: !["linear"](imgs/linear.png)

Often used in regression problems where the network needs to predict a continuous value.

!["activation_function_linear"](imgs/activation_function_linear.png)

2. Exponential Linear Unit (ELU):

Formula: !["elu"](imgs/elu.png)
 
Smooth for negative inputs, aims to capture information from all regions of the input space.

!["activation_function_elu"](imgs/activation_function_elu.png)

3. Sigmoid Function:

Formula: !["Sigmoid"](imgs/Sigmoid.png)
 
Output range: (0, 1)

â€‹Often used in the output layer of binary classification problems.



+ Why use sigmoid function? 

In `step function` are `0.1 >round> 1` and `0.9 >round> 1`

it's problem for training neural network, so we use sigmoid function..

!["activation_function_sigmoid"](imgs/activation_function_sigmoid.png)

4. Hyperbolic Tangent Function (tanh):

Formula: !["tanh"](imgs/tanh.png)
or f(x) = tanh(x)

Output range: (-1, 1)

Similar to the sigmoid but with an output range from -1 to 1..

!["activation_function_tanh"](imgs/activation_function_tanh.png)

5. Softmax Function:

Formula: !["Softmax"](imgs/Softmax.png)

Used in the output layer for `multi-class classification` problems.

Converts raw scores into probabilities, ensuring they sum to 1.

!["activation_function_softmax"](imgs/activation_function_softmax.png)

Example: !["activation_function_softmax_2"](imgs/activation_function_softmax_2.png)

# use tensorflow:

In [25]:
import pandas as pd

In [26]:
df = pd.read_csv(r'datasets/HousingData.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [27]:
df.isna().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [28]:
df.dropna(inplace=True)

In [29]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [30]:
x = df.drop(['MEDV'], axis= 1 )
y = df['MEDV']

In [31]:
scaler = StandardScaler()
cols = x.columns # to save name of cols
x = scaler.fit_transform(x) 
x = pd.DataFrame(x, columns=cols)

In [32]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
x_train.shape

(315, 13)

In [33]:
y_train.shape

(315,)

In [34]:
x_test.shape

(79, 13)

In [35]:
y_test.shape

(79,)

data with cols

In [36]:
x_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
157,-0.397406,2.864918,-1.374120,-0.271237,-1.320855,1.425888,-1.099789,1.671703,-0.858633,-0.460631,-2.744160,0.378032,-0.842442
84,-0.394042,-0.479051,-1.175557,-0.271237,-0.957923,1.629590,-0.230951,-0.147940,-0.858633,-0.775922,-0.248445,0.430740,-0.901353
183,-0.352771,-0.479051,-0.695818,3.686813,-0.409099,0.639773,-0.087341,-0.073175,-0.162778,-0.591507,-0.525747,0.019166,-0.646529
283,-0.001297,-0.479051,1.028921,-0.271237,1.918976,-1.316909,0.978960,-0.811901,1.692835,1.544144,0.768327,0.250074,-0.353344
179,-0.356637,-0.479051,-0.695818,-0.271237,-0.435655,1.266657,0.393751,-0.281295,-0.162778,-0.591507,-0.525747,0.152395,-0.878063

Build neural network using tensorflow

In [37]:
import tensorflow as tf

In [38]:
tf.__version__

'2.13.0'

In [39]:
from tensorflow.keras import layers, models

In [40]:
model = models.Sequential()
# 13 input feature 
model.add(layers.Dense(32, 
                       activation= 'sigmoid', 
                       input_shape= (x_train.shape[1],)))
model.add(layers.Dense(1, 
                       activation= 'linear'))
model.summary()

Model: "sequential_3"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_2 (Dense)             (None, 32)                448

 dense_3 (Dense)             (None, 1)                 33

=================================================================
Total params: 481 (1.88 KB)
Trainable params: 481 (1.88 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [41]:
model.compile(
    optimizer = 'sgd',
    loss = 'mean_squared_error'
)

In [42]:
model.fit(x_train,
          y_train,
          validation_data= (x_test, y_test),
          epochs= 20
          )

Epoch 1/20
 1/10 [==>...........................] - ETA: 12s - loss: 659.8425

10/10 [==============================] - 2s 73ms/step - loss: 234.1342 - val_loss: 55.9399
Epoch 2/20
10/10 [==============================] - 0s 33ms/step - loss: 42.8916 - val_loss: 25.7170
Epoch 3/20
10/10 [==============================] - 0s 18ms/step - loss: 31.5404 - val_loss: 20.4417
Epoch 4/20
10/10 [==============================] - 0s 14ms/step - loss: 27.5608 - val_loss: 18.4345
Epoch 5/20
10/10 [==============================] - 0s 24ms/step - loss: 25.6091 - val_loss: 17.5952
Epoch 6/20
10/10 [==============================] - 0s 12ms/step - loss: 24.6168 - val_loss: 16.9128
Epoch 7/20
10/10 [==============================] - 0s 20ms/step - loss: 23.7756 - val_loss: 17.3454
Epoch 8/20
10/10 [==============================] - 0s 23ms/step - loss: 23.1253 - val_loss: 17.4786
Epoch 9/20
10/10 [==============================] - 0s 22ms/step - loss: 22.5599 - val_loss: 17.2517
Epoch 10/20
10/10 [==============================] - 0s 25ms/step - loss: 22.0858 - val_loss: 17.0196
Epoch 11/20
10/10 [==============================] - 0s 20ms/step - loss: 21.9760 - val_loss: 17.4475
Epoch 12/20
10/10 [==============================] - 0s 11ms/step - loss: 21.5511 - val_loss: 16.7021
Epoch 13/20
10/10 [==============================] - 0s 12ms/step - loss: 21.2603 - val_loss: 16.7848
Epoch 14/20
10/10 [==============================] - 0s 23ms/step - loss: 20.9465 - val_loss: 16.7251
Epoch 15/20
10/10 [==============================] - 0s 12ms/step - loss: 20.8083 - val_loss: 16.0875
Epoch 16/20
10/10 [==============================] - 0s 14ms/step - loss: 20.6873 - val_loss: 15.9588
Epoch 17/20
10/10 [==============================] - 0s 12ms/step - loss: 20.5438 - val_loss: 15.9866
Epoch 18/20
10/10 [==============================] - 0s 12ms/step - loss: 20.1014 - val_loss: 16.2058
Epoch 19/20
10/10 [==============================] - 0s 11ms/step - loss: 19.7934 - val_loss: 16.3826
Epoch 20/20
10/10 [==============================] - 0s 21ms/step - loss: 19.6772 - val_loss: 16.1950

In [43]:
preds = model.predict(x_test)
preds

3/3 [==============================] - 0s 3ms/step

array([[10.894257 ],
       [32.01607  ],
       [23.092094 ],
       [24.75751  ],
       [20.210512 ],
       [33.090687 ],
       [ 7.3193207],
       [24.418055 ],
       [34.215855 ],
       [20.536343 ],
       [17.031996 ],
       [ 8.28816  ],
       [19.432135 ],
       [18.43807  ],
       [16.829046 ],
       [33.867767 ],
       [33.24879  ],
       [35.10623  ],
       [33.865685 ],
       [34.206493 ],
       [38.76732  ],
       [17.101473 ],
       [21.486725 ],
       [37.14327  ],
       [19.831127 ],
       [34.701607 ],
       [30.876087 ],
       [23.219212 ],
       [16.214933 ],
       [16.988922 ],
       [27.411366 ],
       [ 8.84136  ],
       [20.437372 ],
       [22.794601 ],
       [20.527573 ],
       [16.426771 ],
       [19.205097 ],
       [18.584286 ],
       [26.719177 ],
       [28.347004 ],
       [15.566292 ],
       [22.70503  ],
       [ 5.331283 ],
       [22.958946 ],
       [29.482183 ],
       [35.65945  ],
       [28.857414 ],
       [17.540167 ],
       [19.407173 ],
       [19.488356 ],
       [24.633549 ],
       [27.466019 ],
       [21.22004  ],
       [38.32049  ],
       [17.96447  ],
       [23.793514 ],
       [33.434566 ],
       [10.362261 ],
       [ 9.559534 ],
       [24.023632 ],
       [24.49404  ],
       [ 8.200953 ],
       [33.73095  ],
       [21.43494  ],
       [17.549118 ],
       [19.950792 ],
       [30.979748 ],
       [38.058666 ],
       [18.936127 ],
       [21.246735 ],
       [16.326305 ],
       [22.840878 ],
       [26.40129  ],
       [25.066965 ],
       [29.185478 ],
       [16.109312 ],
       [20.798103 ],
       [23.468441 ],
       [20.52996  ]], dtype=float32)

convert 2d to 1 d

In [44]:
preds = model.predict(x_test).reshape(-1,)
preds

3/3 [==============================] - 0s 3ms/step

array([10.894257 , 32.01607  , 23.092094 , 24.75751  , 20.210512 ,
       33.090687 ,  7.3193207, 24.418055 , 34.215855 , 20.536343 ,
       17.031996 ,  8.28816  , 19.432135 , 18.43807  , 16.829046 ,
       33.867767 , 33.24879  , 35.10623  , 33.865685 , 34.206493 ,
       38.76732  , 17.101473 , 21.486725 , 37.14327  , 19.831127 ,
       34.701607 , 30.876087 , 23.219212 , 16.214933 , 16.988922 ,
       27.411366 ,  8.84136  , 20.437372 , 22.794601 , 20.527573 ,
       16.426771 , 19.205097 , 18.584286 , 26.719177 , 28.347004 ,
       15.566292 , 22.70503  ,  5.331283 , 22.958946 , 29.482183 ,
       35.65945  , 28.857414 , 17.540167 , 19.407173 , 19.488356 ,
       24.633549 , 27.466019 , 21.22004  , 38.32049  , 17.96447  ,
       23.793514 , 33.434566 , 10.362261 ,  9.559534 , 24.023632 ,
       24.49404  ,  8.200953 , 33.73095  , 21.43494  , 17.549118 ,
       19.950792 , 30.979748 , 38.058666 , 18.936127 , 21.246735 ,
       16.326305 , 22.840878 , 26.40129  , 25.066965 , 29.185478 ,
       16.109312 , 20.798103 , 23.468441 , 20.52996  ], dtype=float32)

In [45]:
result = pd.DataFrame()
result['Actual'] = y_test.values # convert to numpy array
result['Predict'] = preds
result

    Actual    Predict
0     23.7  10.894257
1     34.7  32.016071
2     19.8  23.092094
3     21.6  24.757509
4     19.5  20.210512
..     ...        ...
74    28.0  29.185478
75    19.5  16.109312
76    21.0  20.798103
77    23.0  23.468441
78    24.5  20.529961

[79 rows x 2 columns]