# Artificial Neural Networks [NN1] using pytorch

1. Linear Function: 

Formula: !["linear"](imgs/linear.png)

Often used in regression problems where the network needs to predict a continuous value.

!["activation_function_linear"](imgs/activation_function_linear.png)

2. Exponential Linear Unit (ELU):

Formula: !["elu"](imgs/elu.png)
 
Smooth for negative inputs, aims to capture information from all regions of the input space.

!["activation_function_elu"](imgs/activation_function_elu.png)

3. Sigmoid Function:

Formula: !["Sigmoid"](imgs/Sigmoid.png)
 
Output range: (0, 1)

â€‹Often used in the output layer of binary classification problems.



+ Why use sigmoid function? 

In `step function` are `0.1 >round> 1` and `0.9 >round> 1`

it's problem for training neural network, so we use sigmoid function..

!["activation_function_sigmoid"](imgs/activation_function_sigmoid.png)

4. Hyperbolic Tangent Function (tanh):

Formula: !["tanh"](imgs/tanh.png)
or f(x) = tanh(x)

Output range: (-1, 1)

Similar to the sigmoid but with an output range from -1 to 1..

!["activation_function_tanh"](imgs/activation_function_tanh.png)

5. Softmax Function:

Formula: !["Softmax"](imgs/Softmax.png)

Used in the output layer for `multi-class classification` problems.

Converts raw scores into probabilities, ensuring they sum to 1.

!["activation_function_softmax"](imgs/activation_function_softmax.png)

Example: !["activation_function_softmax_2"](imgs/activation_function_softmax_2.png)

# use pytorch:

In [137]:
import pandas as pd

In [138]:
df = pd.read_csv(r'datasets/HousingData.csv')
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,NaN,36.2

In [139]:
df.isna().sum()

CRIM       20
ZN         20
INDUS      20
CHAS       20
NOX         0
RM          0
AGE        20
DIS         0
RAD         0
TAX         0
PTRATIO     0
B           0
LSTAT      20
MEDV        0
dtype: int64

In [140]:
df.dropna(inplace=True)

In [141]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [142]:
x = df.drop(['MEDV'], axis= 1 )
y = df['MEDV']

In [143]:
scaler = StandardScaler()
cols = x.columns # to save name of cols
x = scaler.fit_transform(x) 
x = pd.DataFrame(x, columns=cols)

In [144]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
x_train.shape

(315, 13)

In [145]:
y_train.shape

(315,)

In [146]:
x_test.shape

(79, 13)

In [147]:
y_test.shape

(79,)

data with cols

In [148]:
x_train.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
271,-0.394801,-0.479051,-0.958153,-0.271237,-0.984479,-0.548007,-0.597155,2.007882,-0.742657,-0.323807,0.121290,0.068622,-0.013579
72,-0.395266,-0.479051,-0.943659,-0.271237,-0.922515,0.502059,-0.460726,0.301746,-0.742657,-0.948440,-0.017361,0.379153,-0.854772
131,-0.201982,-0.479051,1.243427,3.686813,0.458396,2.183314,1.050765,-0.841912,-0.510706,-0.020413,-1.773605,0.348986,-1.486353
62,-0.391535,-0.479051,-0.027663,-0.271237,-1.241187,-0.308443,-2.194812,0.707108,-0.626681,-0.603404,0.306158,0.363565,-0.993145
169,-0.370001,-0.479051,-0.059549,-0.271237,-0.568435,-1.245183,-2.123007,-0.103902,-0.626681,-0.769973,0.028856,-0.107222,2.299020

Build neural network using pytorch

In [149]:
import torch
from torch import nn

In [150]:
class Data(torch.utils.data.Dataset):
    def __init__(self, x, y):
    # from_numpy: convert from numpy array to torch tensor
      self.x = torch.from_numpy(x)  
      self.y = torch.from_numpy(y)  
      
    def __len__(self):
        return len(self.x)
    
    def __getitem__(self, index):
        return self.x[index], self.y[index]
    
class NeuralNetwork(nn.Module):
    def __init__(self):
        super().__init__()
        self.layers = nn.Sequential(
            nn.Linear(13, 32), # input 12 features and 32 hidden neurons
            nn.Sigmoid(),
            nn.Linear(32, 1) # output is one value for task regression
        )
    
    def forward(self, inputs):
        return self.layers(inputs) # feed forward layers

In [151]:
NN = NeuralNetwork()

In [152]:
train_data = Data(x_train.values, # values: convert from dataframe to numpy array
                  y_train.values)
train_data

In [153]:
train_loader = torch.utils.data.DataLoader(train_data, batch_size=8)
train_loader

In [154]:
optimizer = torch.optim.SGD(NN.parameters(), # parameters from super class nn.Module
                            lr=1e-4)
optimizer

SGD (
Parameter Group 0
    dampening: 0
    differentiable: False
    foreach: None
    lr: 0.0001
    maximize: False
    momentum: 0
    nesterov: False
    weight_decay: 0
)

In [155]:
cost = nn.MSELoss()
epochs = 50

In [156]:
for epoch in range(epochs):
    print("epoch %d" % epoch)
    total_training_loss = 0
    
    for i , data in enumerate(train_loader, 0):
        inputs, targets = data
        inputs, targets = inputs.float(), targets.float()
        targets = targets.reshape((-1, 1))
        
        optimizer.zero_grad()
        preds = NN.forward(inputs)
        
        loss = cost(preds, targets)
        
        total_training_loss += loss.item()
        
        loss.backward()
        
        optimizer.step()
        
    print("Total training loss: %f" % total_training_loss)

epoch 0
Total training loss: 21531.438507
epoch 1
Total training loss: 19157.852600
epoch 2
Total training loss: 17075.426117
epoch 3
Total training loss: 15237.066971
epoch 4
Total training loss: 13605.964417
epoch 5
Total training loss: 12153.132248
epoch 6
Total training loss: 10855.648682
epoch 7
Total training loss: 9695.315811
epoch 8
Total training loss: 8657.585228
epoch 9
Total training loss: 7730.647961
epoch 10
Total training loss: 6904.675537
epoch 11
Total training loss: 6171.184113
epoch 12
Total training loss: 5522.545425
epoch 13
Total training loss: 4951.640497
epoch 14
Total training loss: 4451.643463
epoch 15
Total training loss: 4015.924015
epoch 16
Total training loss: 3638.030451
epoch 17
Total training loss: 3311.727024
epoch 18
Total training loss: 3031.060723
epoch 19
Total training loss: 2790.428905
epoch 20
Total training loss: 2584.636847
epoch 21
Total training loss: 2408.941190
epoch 22
Total training loss: 2259.070527
epoch 23
Total training loss: 2131.226505
epoch 24
Total training loss: 2022.072277
epoch 25
Total training loss: 1928.705489
epoch 26
Total training loss: 1848.625538
epoch 27
Total training loss: 1779.694404
epoch 28
Total training loss: 1720.097411
epoch 29
Total training loss: 1668.303753
epoch 30
Total training loss: 1623.028385
epoch 31
Total training loss: 1583.198206
epoch 32
Total training loss: 1547.919923
epoch 33
Total training loss: 1516.452036
epoch 34
Total training loss: 1488.181761
epoch 35
Total training loss: 1462.602293
epoch 36
Total training loss: 1439.295849
epoch 37
Total training loss: 1417.918327
epoch 38
Total training loss: 1398.185818
epoch 39

Total training loss: 1379.865047
epoch 40
Total training loss: 1362.763074
epoch 41
Total training loss: 1346.721003
epoch 42
Total training loss: 1331.607181
epoch 43
Total training loss: 1317.312438
epoch 44
Total training loss: 1303.745993
epoch 45
Total training loss: 1290.831879
epoch 46
Total training loss: 1278.506522
epoch 47
Total training loss: 1266.716320
epoch 48
Total training loss: 1255.415716
epoch 49
Total training loss: 1244.565664

values : convert from dataframe to numpy array

from_numpy: convert from numpy array to torch tensor

In [157]:
preds = NN.forward(torch.from_numpy(x_test.values).float())
preds

tensor([[20.8451],
        [29.8894],
        [22.2020],
        [24.4957],
        [24.7719],
        [15.1528],
        [16.9303],
        [30.3223],
        [25.2096],
        [24.5604],
        [30.7933],
        [24.9494],
        [31.4681],
        [23.9152],
        [29.0050],
        [23.7581],
        [25.4260],
        [19.6234],
        [28.0806],
        [16.3954],
        [11.1646],
        [33.5494],
        [23.5825],
        [21.3100],
        [28.2607],
        [15.8857],
        [31.8928],
        [20.0788],
        [21.0335],
        [15.3182],
        [18.7771],
        [26.1816],
        [13.9204],
        [24.4838],
        [28.7023],
        [25.0704],
        [19.2462],
        [28.9312],
        [23.6945],
        [22.5299],
        [30.8124],
        [30.0658],
        [12.1735],
        [25.6149],
        [27.9375],
        [22.7206],
        [30.7658],
        [16.7529],
        [29.8851],
        [28.3984],
        [24.4947],
        [16.9690],
        [29.0752],
        [12.9969],
        [23.5729],
        [17.5965],
        [21.5471],
        [23.8663],
        [19.0404],
        [28.0845],
        [31.2948],
        [12.5619],
        [16.8911],
        [13.9564],
        [19.6512],
        [29.6445],
        [23.5582],
        [29.3975],
        [27.9386],
        [22.1742],
        [25.7501],
        [13.1038],
        [30.2516],
        [26.4631],
        [21.0711],
        [30.8521],
        [29.1271],
        [12.0644],
        [ 7.9928]], grad_fn=<AddmmBackward0>)

convert from torch tensor to pandas dataframe

detach() : remove grad_fn=<AddmmBackward0>

numpy() : convert to numpy

In [158]:
preds.detach().numpy()

array([[20.845139 ],
       [29.889359 ],
       [22.202011 ],
       [24.495731 ],
       [24.771927 ],
       [15.152773 ],
       [16.930275 ],
       [30.322258 ],
       [25.209595 ],
       [24.560406 ],
       [30.7933   ],
       [24.949354 ],
       [31.468067 ],
       [23.91522  ],
       [29.00496  ],
       [23.75807  ],
       [25.425987 ],
       [19.62342  ],
       [28.080563 ],
       [16.395445 ],
       [11.1646385],
       [33.54945  ],
       [23.582478 ],
       [21.310047 ],
       [28.26068  ],
       [15.885742 ],
       [31.892761 ],
       [20.07877  ],
       [21.033514 ],
       [15.318224 ],
       [18.777115 ],
       [26.181576 ],
       [13.920368 ],
       [24.483809 ],
       [28.702288 ],
       [25.070366 ],
       [19.24622  ],
       [28.931236 ],
       [23.69455  ],
       [22.529905 ],
       [30.81242  ],
       [30.065819 ],
       [12.173496 ],
       [25.614868 ],
       [27.937496 ],
       [22.720636 ],
       [30.765778 ],
       [16.752867 ],
       [29.885149 ],
       [28.398396 ],
       [24.494652 ],
       [16.968952 ],
       [29.075191 ],
       [12.996889 ],
       [23.572891 ],
       [17.59649  ],
       [21.547062 ],
       [23.866291 ],
       [19.040392 ],
       [28.084534 ],
       [31.294775 ],
       [12.561863 ],
       [16.89112  ],
       [13.956398 ],
       [19.651222 ],
       [29.64446  ],
       [23.558231 ],
       [29.3975   ],
       [27.938633 ],
       [22.17424  ],
       [25.750069 ],
       [13.103758 ],
       [30.25161  ],
       [26.463089 ],
       [21.071075 ],
       [30.85208  ],
       [29.127094 ],
       [12.0644455],
       [ 7.99276  ]], dtype=float32)

reshape(-1, ) : convert from 2d to 1d

In [159]:
preds =  preds.detach().numpy().reshape(-1,)

In [160]:
result = pd.DataFrame()
result['Actual'] = y_test.values
result['Preds'] = preds

result

    Actual      Preds
0     18.0  20.845139
1     30.1  29.889359
2     18.2  22.202011
3     21.5  24.495731
4     22.6  24.771927
..     ...        ...
74    14.5  21.071075
75    34.9  30.852079
76    24.5  29.127094
77    11.7  12.064445
78    13.8   7.992760

[79 rows x 2 columns]